Приглашение в Shabitica от {{ v.INVITER }}

{{ v.INVITER }} пригласил вас на сервер Shabitica {{ v.BASE_URL }}/.

{{! TODO: guild versus party? }}

Чтобы принять приглашение, пройдите по ссылке:

{{ v.BASE_URL }}{{ v.LINK }}
