Сброс пароля Shabitica

Если вы запрашивали сброс пароля Shabitica, пройдите по ссылке:
{{ v.PASSWORD_RESET_LINK }}.

Ссылка актуальна в течение 24 часов.
Если вы этого не делали, игнорируйте данное сообщение.
