Сообщение от Shabitica ({{ emailType }})

Вы получили новое сообщение от сервера Shabitica, находящегося по ссылке {{ v.BASE_URL }}/.

К сожалению, для данного типа сообщений нет шаблона, поэтому сервер пока может только послать вам дамп переменных шаблона:

{{ v }}
{{ p }}

Если возможно, перешлите это сообщение кому следует.
Не забудьте заменить конфиденциальную информацию в сообщении на XXXXX.

Примите извинения за неудобство.
